{#**
 * @author    Shipmondo <support@shipmondo.com>
 * @copyright 2024-present Shipmondo
 * @license   https://opensource.org/license/bsd-3-clause BSD-3-Clause
 *#}

<div class="card">
	<div class="card-header">
		<h3 class="card-header-title">{{ 'Service Point'|trans({}, 'Modules.Shipmondo.Admin') }}</h3>
	</div>
	<div class="card-body">
        <p class="mb-0">{{ service_point.getName }}</p>
        <p class="mb-0">{{ service_point.getAddress1 }}</p>
        {% if service_point.getAddress2 %}<p class="mb-0">{{ service_point.getAddress2 }}</p>{% endif %}
        <p class="mb-0">{{ service_point.getZipCode }} {{ service_point.getCity }}</p>
        <p class="mb-0">{{ service_point.getCountryCode }}</p>
        <!--<p class="mb-0"><strong>Service Point ID</strong></p>
        <p class="mb-0">{{ service_point.getServicePointId }}</p>
        <p class="mb-0"><strong>Carrier</strong></p>
        <p class="mb-0">{{ carrier_name }}</p>-->
        <div class="text-center text-muted">
            <small>{{ 'Powered by Shipmondo'|trans({}, 'Modules.Shipmondo.Admin') }}</small>
        </div>
	</div>
</div>

