{#**
 * @author    Shipmondo <support@shipmondo.com>
 * @copyright 2024-present Shipmondo
 * @license   https://opensource.org/license/bsd-3-clause BSD-3-Clause
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}

{% block content %}
  <div class="card">
    <div class="card-body">
      {{'Follow the setup guide'|trans({}, 'Modules.Shipmondo.Admin')}}: <a href="https://help.shipmondo.com/articles/7197780" target="_blank">{{ 'PrestaShop guide'|trans({}, 'Modules.Shipmondo.Admin') }}</a>
    </div>
  </div>

  {{ form_start(shipmondoConfigurationForm) }}
  <div class="card">
    <h3 class="card-header">
      <i class="material-icons">settings</i> {{ 'Configuration'|trans({}, 'Modules.Shipmondo.Admin') }}
    </h3>
    <div class="card-body">
      
      <div class="form-wrapper">
        {{ form_widget(shipmondoConfigurationForm) }}
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex justify-content-end">
        <button class="btn btn-primary float-right" id="save-button">
          {{ 'Save'|trans({}, 'Admin.Actions') }}
        </button>
      </div>
    </div>
  </div>
  {{ form_end(shipmondoConfigurationForm) }}
{% endblock %}