{#**
 * @author    Shipmondo <support@shipmondo.com>
 * @copyright 2024-present Shipmondo
 * @license   https://opensource.org/license/bsd-3-clause BSD-3-Clause
 *#}

{% extends '@PrestaShop/Admin/layout.html.twig' %}
{% form_theme form '@PrestaShop/Admin/TwigTemplateForm/prestashop_ui_kit.html.twig' %}

{% block content %}
    {{ form_start(form) }}
    <div class="card">
        <h3 class="card-header">
            <i class="material-icons">settings</i> {{ 'Shipmondo carrier'|trans({}, 'Modules.Shipmondo.Admin') }}
        </h3>

        <div class="card-body">
            <div class="form-wrapper">
                {{ form_widget(form) }}
            </div>
        </div>

        <div class="card-footer">
            <div class="d-flex justify-content-end">
                <button class="btn btn-primary">{{ 'Save'|trans({}, 'Admin.Actions') }}</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        const form = $('form[name=shipmondo_carrier_form]');
        const psCarrierSelect = form.find('#shipmondo_carrier_form_carrier_id');
        const carriersSelect = form.find('#shipmondo_carrier_form_carrier_code');
        const productsSelect = form.find('#shipmondo_carrier_form_product_code');
        let carrierProductsSelect = form.find('#shipmondo_carrier_form_carrier_product_code');
        let servicePointTypesSelect = form.find('#shipmondo_carrier_form_service_point_types');

        {% if isEdit %}
            psCarrierSelect.attr('disabled', true);
            psCarrierSelect.parent().append('<input type="hidden" name="shipmondo_carrier_form[carrier_id]" value="' + psCarrierSelect.val() + '" />');
        {% endif %}

        function rerenderForm() {
            carrierProductsSelect = carrierProductsSelect ?? form.find('#shipmondo_carrier_form_carrier_product_code');
            servicePointTypesSelect =
                servicePointTypesSelect ?? form.find('#shipmondo_carrier_form_service_point_types');

            const selectedProductType = productsSelect.val();

            if (selectedProductType === 'service_point') {
                carrierProductsSelect.parent().parent().show();
                servicePointTypesSelect.parent().parent().show();
            } else {
                carrierProductsSelect.parent().parent().hide();
                servicePointTypesSelect.parent().parent().hide();
            }

            const selectedCarrierProduct = carrierProductsSelect.val();
            const selectedServicePointTypes = servicePointTypesSelect.val();

            let requestBody = carriersSelect.serialize() + '&' + productsSelect.serialize();

            if (carrierProductsSelect && carrierProductsSelect.serialize()) {
                requestBody += `&${carrierProductsSelect.serialize()}`;
            }

            if (servicePointTypesSelect && servicePointTypesSelect.serialize()) {
                requestBody += `&${servicePointTypesSelect.serialize()}`;
            }

            carriersSelect.attr('disabled', true);
            productsSelect.attr('disabled', true);
            carrierProductsSelect.attr('disabled', true);
            servicePointTypesSelect.attr('disabled', true);

            $.ajax({
                url: form.attr('action'),
                method: form.attr('method'),
                data: requestBody,
                success: function (response) {
                    productsSelect.html($(response).find('#shipmondo_carrier_form_product_code').html());
                    const newProductCodeValues = productsSelect.find('option').map(function () {
                        return $(this).val();
                    }).get();

                    // Select the previously selected value if it still exists
                    if ($.inArray(selectedProductType, newProductCodeValues) !== -1) {
                        productsSelect.val(selectedProductType);
                    }

                    carriersSelect.attr('disabled', false);
                    productsSelect.attr('disabled', false);
                    carrierProductsSelect.attr('disabled', false);
                    servicePointTypesSelect.attr('disabled', false);

                    carrierProductsSelect.html($(response).find('#shipmondo_carrier_form_carrier_product_code').html());

                    servicePointTypesSelect.html(
                        $(response).find('#shipmondo_carrier_form_service_point_types').html()
                    );

                    if (productsSelect.val() === 'service_point') {
                        const carrierProductOptions = carrierProductsSelect
                            .find('option')
                            .map(function () {
                                return $(this).val();
                            })
                            .get();

                        // Select the previously selected value if it still exists
                        if ($.inArray(selectedCarrierProduct, carrierProductOptions) !== -1) {
                            carrierProductsSelect.val(selectedCarrierProduct);
                        }

                        const servicePointTypeOptions = servicePointTypesSelect
                            .find('option')
                            .map(function () {
                                return $(this).val();
                            })
                            .get();

                        const foundServicePointTypes = (selectedServicePointTypes ?? []).filter((s) =>
                            servicePointTypeOptions.includes(s)
                        );
                        servicePointTypesSelect.val(foundServicePointTypes);

                        carrierProductsSelect.parent().parent().show();
                        servicePointTypesSelect.parent().parent().show();
                    } else {
                        carrierProductsSelect.parent().parent().hide();
                        servicePointTypesSelect.parent().parent().hide();
                    }
                },
            });
        }

        carriersSelect.on('change', rerenderForm);
        productsSelect.on('change', rerenderForm);
        carrierProductsSelect.on('change', rerenderForm);

        carriersSelect.trigger('change');
    </script>
{% endblock %}
